
.navbar {
    background-color: #000; 
  }
  
  .navbar-brand, .nav-link {
    color:#fff!important; 
  }
  
  .nav-link:hover {
    color: #FFD700 !important; 
  }
  
  .navbar-brand img {
    border: 2px solid #FFD700; 
    border-radius: 50%;
    padding: 2px;
  }